<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/31ff2e3f-b761-4000-a41e-2c72eac1ce86/resourcegroups/Mostacho20191110120616ResourceGroup/providers/Microsoft.Web/sites/juanchoprojectfinal</ResourceId>
    <ResourceGroup>Mostacho20191110120616ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://juanchoprojectfinal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>juanchoprojectfinal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>juanchoprojectfinal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$juanchoprojectfinal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=manuelitodbserver.database.windows.net;Initial Catalog=SOCIOS;Persist Security Info=True;User ID=juanchord;Password=Ju@nmanuelo02" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProyectoFinal.Models.ApplicationDbContext, ProyectoFinal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProyectoFinal.Contex.SotreContext" Order="2" Enabled="False">
          <Destination Path="Data Source=manuelitodbserver.database.windows.net;Initial Catalog=SOCIOS;Persist Security Info=True;User ID=juanchord;Password=Ju@nmanuelo02" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProyectoFinal.Contex.SotreContext, ProyectoFinal" MigrationConfiguration="ProyectoFinal.Migrations.Configuration, ProyectoFinal" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StreContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=PatnersClub;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StreContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=PatnersClub;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProyectoFinal.Contex.SotreContext-Web.config Connection String">
      <ParameterValue>Data Source=manuelitodbserver.database.windows.net;Initial Catalog=SOCIOS;Persist Security Info=True;User ID=juanchord;Password=Ju@nmanuelo02</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StreContext-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=manuelitodbserver.database.windows.net;Initial Catalog=SOCIOS;Persist Security Info=True;User ID=juanchord;Password=Ju@nmanuelo02</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="ProyectoFinal.Contex.SotreContext" />
  </ItemGroup>
</Project>