@{
    ViewBag.Title = "Home Page";
}
<br />
<style>
    .homeIcon {
        width: 20%;
    }
</style>
<div class="jumbotron bg-dark">
    <center>
        <h1>Club de Otakus</h1>
        <p class="lead">Club de Otakus es un club que solo los fanaticos de animes pueden estar </p>
    <p><a href="https://juanchoprojectfinal.azurewebsites.net/Socios" class="btn btn-primary btn-lg">Averigua cuales son nuestros Socios &raquo;</a></p>
    </center>

</div>

<div class="row">
    <div class="col-md-4">
        <img class="homeIcon" src="~/Content/Foto/registro.png" />
        <h2>Registrate</h2>
        <p>
            Unete a nuestro gran Club de Otakus
        </p>
        @*<p><a class="btn btn-default" href="https://juanchoprojectfinal.azurewebsites.net/Account/Register">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <img class="homeIcon" src="~/Content/Foto/buscar.png" />
        <h2>Busca</h2>
        <p>
            Busca en nuestra lista cuales son todos nuestros socios y conocelos.
        </p>
        @*<p><a class="btn btn-default" href="https://juanchoprojectfinal.azurewebsites.net/Account/Register">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <img class="homeIcon" src="~/Content/Foto/conoce.png" />
        <h2>Conoce</h2>
        <p>
            Conoce, platica, comparte y disfruta en compañia de mas otakus que estaran para recomendarte los mejores animes.
        </p>
        <p>@*<a class="btn btn-default" href="https://juanchoprojectfinal.azurewebsites.net/Account/Register">Learn more &raquo;</a>*@</p>
    </div>
</div>